body {
  font-family: "Josefin Sans", sans-serif;
  background-image: url("clouds.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.box {
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  border: 1px solid black;
  border-radius: 5px;
  margin: 100px 80px;
  padding: 40px 20px;
}
h4 {
  font-size: 20px;
  font-style: italic;
}
ul {
  list-style: none;
}
.col-4,
.col-8 {
  font-size: 15px;
  color: rgb(39, 33, 68);
  margin-top: 30px;
  margin-bottom: 60px;
}
.temperature {
  line-height: 1;
  font-weight: 400;
  font-size: large;
  position: relative;
  margin-left: 50px;
}
.city {
  text-align: center;
  font-size: 25px;
}
.units {
  font-size: 15px;
  font-weight: thin;
  position: relative;
  text-align: center;
}

a {
  color: rgb(39, 33, 68);
  text-decoration: none;
}

.custom-btn {
  width: 130px;
  height: 30px;
  color: #000;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  font-size: 10px;
}

.btn-1 {
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  border: 20px;
}

.btn-1:before {
  height: 0%;
  width: 2px;
}

.btn-1:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

.weather-icons.active {
  color: black;
  cursor: default;
  margin-top: 20px;
}
.weather-icons.active:hover {
  text-decoration: none;
}

.weather-forecast {
  text-align: center;
  color: #000;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.end-section {
  font-size: 13px;
}
.Repository-btn {
  font-size: 14px;
  color: #cfd9df;
  border-color: #cfd9df;
  background: rgb(96, 9, 240);
  background: linear-gradient(
    0deg,
    rgba(96, 9, 240, 1) 0%,
    rgba(129, 5, 240, 1) 100%
  );
  border: none;
}
